[submodule "submodules/requirejs"]
	path = submodules/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "submodules/underscore"]
	path = submodules/underscore
	url = https://github.com/documentcloud/underscore.git
